{
    -fx-background-color: #FFFFFF;
    -fx-font-family: Futura;
}

.imageView:hover {
    -fx-pref-height: 120;
    -fx-pref-width: 120;
    -fx-background-size: 120;
}

#logoutButton, #exitButton {
    -fx-pref-height: 40;
    -fx-pref-width: 80;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

#nameLabel {
    -fx-font-size: 20;
    visibility: visible;
}

#greenerLabel {
    -fx-font-size: 45;
    visibility: visible;
}

.label {
    visibility: hidden;
    -fx-background-color: transparent;
}

.button {
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-background-color: radial-gradient(center 95% 20%, radius 40%, #97ec54, #91cb3e);
    -fx-border-color: #124A11;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#youButton:hover #youLabel{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}